<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>
            Profile Template Page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=screen-width, initial-scale=1.0"> 
        <meta tag>
        <link rel="stylesheet" href="static/profile.css">

    </head>
    
    <body>
        <header>
            <h1>Profile Page Template</h1>
        </header>
        <div class="col-12" id="container">
            <div class="row-2">
                <div class="col-8" id="aboutme">
                    <div id="photo">
                        <img src="static/media/IMG/profile_pic.png" alt="profile picture" id="pp1">
                    
                    </div>
                    <div class="col-6" id="name"><h1 class="subheader">John Doe - 1992</h1><div class="subtitle">Template Extraordinaire</div></div>

                    <div class="col-8" id="text">
                        <h2 class="subheader">About Me</h2>
                        <text>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a facilisis diam, eleifend imperdiet nisi. Maecenas cursus elementum urna, non pellentesque ex tincidunt quis.</p>
                            <p>Aliquam id massa interdum, egestas justo hendrerit, vulputate turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <p>Aliquam id massa interdum, egestas justo hendrerit, vulputate turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        </text>
                    </div>

                </div>
            </div>
        </div>
        <footer class="col-12">

            <div id="copy"> copyright Jorn Hiemstra 2022</div>

        </footer>

    </body>

</html>