<!DOCTYPE HTML>
<html lang=en>
    <head>
        <title> Profile Page Example </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=Edge">
        <meta name="viewport" content="width=screen-width, initial-scale=1.0"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/profile-page.css">
        <script src="scripts/profile_script.js"></script>
        <!-- "gotoPage(newPage,target-type)" is the current command-->
    </head>
    <body class="text-bg-light">
        <header class="container-fluid p-5 text-bg-dark">
            <h1 class="text-center my-5">Header</h1>
        </header>
        <div class="container-fluid p-2 text-bg-light float-start mx-auto">
            <div class="row" id="row1">
                <div class="card col-xl-6 p-5 my-5 text-bg-dark" id="main">
                    <div class="row" id="subrow1">
                        <div class="col-sm-4 p-2">
                            <img src="static/media/IMG/profile_pic.png" class="rounded_circle float-start img-fluid" alt="Profile Pic">
                        </div>
                        <div class="text-bg-dark col-lg-7">
                            <h1>I am John Doe</h1>
                            <p class="lead">This is a test of my profile page for Fiverr</p>
                        </div>
                    </div>
                </div>
                <div class="card col-xl-4 p-4 text-bg-dark float-end mx-auto">
                    <h1>Social Links</h1>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="card container-fluid p-3 my-1 text-bg-dark" id="secondary" data-bs-scroll="scroll">

            </div>
        </div>

        <footer class="container-fluid p-5 text-bg-secondary mx-auto" id="footer">
            <h2>Copyright Jorn Hiemstra 2022</h2>
        </footer>
    </body>


</html>