:root {
    --color1: #c9cba3; /*#ab5852;*/
    --color2: #ffe1a8; /*#eadaa0;*/
    --color3: #e26d5c; /*#d69e49;*/
    --color4: #723d46; /*#838469;*/
    --color5: #472d30; /*#476066;*/
    background: var(--color2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color4);

}
.cal-container {
    margin: auto;
    width: 80%;
    text-align: center;   
}

#image {
    display: inline-block;
    width: 100%;
    max-width: 70%;
    outline: 2px solid var(--color3);
    height: auto;
    object-fit:contain;
    
}
h1 {
    font-size: calc(1vh + 5vw);
}

@media only screen and (min-width: 768px) {
    [class*="col-"] {
        position: relative;
        margin: auto;
        min-width: fit-content;
        display: inline-block;
        font-family: Verdana;

    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
h1 {font-size: 24pt;}
}