:root {
    --charcoal: #233d4d;
    --raisinblack: #2e282a;
    --darkcharcoal: #272727;
    --smoke: #393838;
    --alabaster: #e8eddf;
    --spacecadet: #1b1f3b;
    --charleston: #293132;
    --platinum: #e7e7e7;
    --liberty: #485696;

    --banner: linear-gradient(to bottom right, #233d4d,#272727);
    --card: linear-gradient(to bottom right, var(--smoke),var(--darkcharcoal));

    background: var(--darkcharcoal);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    overflow-x: hidden;

}


header {
    margin: -1rem;
}
#banner {
    position: relative;
    min-height: 10%;
    top: 0;
    background: var(--banner);
    color: var(--platinum);
    text-align: center;
    padding: 1rem;
}

#menu {
    position: relative;
    background: var(--charcoal);
    width: 101%;
    top: 0;
    left: 0;
    margin-top: -1rem;
    margin-left: -1.6rem;
    text-align: left;
}

nav ul {
    list-style-type: none;
}


a {
    color: var(--platinum);
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
hr {
    display: block;
    margin: .5rem;
}
h1 {
    text-align: left;
}
.menubutton {
    display: block;
    width: 100%;
    max-width: 800px;
    background: var(--banner);
    color: var(--platinum);
    padding: .5rem;
    padding-left: 1rem;
}
.menubutton:hover {
    border: 2px inset var(--alabaster);
}
.menubutton:after {
    color: var(--liberty);
}
main {
    position: relative;
    color: var(--platinum);
    margin-top: 3%;
    top: 0;
}

.row {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    background: var(--card);
    color: var(--platinum);
    width: 100%;
    max-width: 100%;
    min-height: 30vh;
    height: fit-content;
    padding: 1rem;
    margin: auto;
    margin-right: 1rem;
    overflow-x: auto;
    
}
.card {
    position: relative;
    max-width: 100%;
    margin-bottom: 1rem;
    max-height:max-content;

}

.card:hover {
    opacity: 0.8;
    background: var(--smoke);
}
.container {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--card);
}
.container img {
    max-width: 100%;
}

.subtext {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    font-size: 12pt;
}

#project1 {
    display: inline-block;
    padding: 1rem;
}
#island1 {
    max-height: none;
    order: 1;
}
.main_image  {
    float: left;
    max-width: 100%;
    order:0;
    margin: 1rem;
}

footer {
    position: static;
    margin: -1rem;
    margin-top: 1rem;
    padding: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 10vh;
    background: var(--banner);
    color: var(--platinum);
    text-align: center;
}


@media only screen and (min-width:896px) {
    #menu {
        float: left;
        margin: none;
        margin-top: 1px;
        padding: none;
        box-sizing: border-box;
        width: 105%;
        max-height: fit-content;
        background: var(--banner);
    }

    .menubutton {
        float: left;
        position: relative;
        display: inline-block;
        margin: none;
        margin-top: -1rem;
        width: 20%;
        max-width: 20vw;
        padding-bottom: 1rem;
    }

    main {
        position: relative;
        margin-top: 4%;  
    }
    .row {
        text-align: center;
        margin: auto;
        display: flex;
        max-width: none;
        margin-top: 1rem;
        overflow-x: auto;
        overflow-y: none;
        max-height: 40rem;
    }

    .card {
        position: relative;
        display: inline-block;
        min-width: 30%;
        max-width: 30vw;
        min-height: fit-content;
        margin: 1rem;
        
    }
    .container{
        display: inline-block;
        width: 100%;
        
    }
    .subtext {
        text-align: left;
        margin: auto;
        padding: .5rem;
        overflow-y: auto;
        min-height: 10rem;
        max-height: 10rem;
    }

    article {
        position: relative;
        margin: 1rem;
        text-align: left;
        columns: 3;
    }

    #project1 {
        columns: 2;
        width: 98%;
        height: 80%;
        margin-left: .5rem;
    }
    #island1 {
        margin: 1rem;
        columns: 2;
    }
    .data {
        position: relative;
        left:0;
        width: 25%;
        text-align: right;
    }
    
}