<!DOCTYPE HTML>
<html>
    <head>
        <title>Les 15 - Formulieren</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <body>
        <header>
            <h1>Home</h1>
            <nav>
                <ul class="menu">
                    <li class="menubutton"><a href="index.html">Home</a></li>
                    <li class="menubutton"><a href="aboutme.html">Mijn CV</a></li>
                    <li class="menubutton"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="main">
        <section id="mijnCV">
            <h1>Mijn CV</h1>
            <table>
                <tr>
                    <th>Jaartal</th>
                    <th>Opleiding</th>
                    <th>Instituut</th>
                    <th>Werk-Ervaring</th>
                    <th>Bedrijf</th>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>Game Design</td>
                    <td>HKU</td>
                    <td>N/A</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>Game Design</td>
                    <td>HKU</td>
                    <td>N/A</td>
                    <td></td>

                </tr>
                <tr>
                    <td>2016</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Environment Artist</td>
                    <td>Freelance</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Game Design</td>
                    <td>HKU</td>
                    <td>Environment Artist</td>
                    <td>Freelance</td>
                </tr>
                <tr>
                    <td>2018</td>
                    <td>Game Design</td>
                    <td>HKU</td>
                    <td>Environment Artist</td>
                    <td>Freelance</td>
                </tr>
                <tr>
                    <td>2019</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Environment Artist</td>
                    <td>TeamVisionary</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Lead Environment Artist</td>
                    <td>PixelSquared Ltd</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Lead Environment Artist</td>
                    <td>PixelSquared Ltd</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>Software Developer</td>
                    <td>NHA</td>
                    <td>Environment Artist</td>
                    <td>Freelance</td>
                </tr>
            </table>


        </section>
        </div>
        <footer>
            <p> copyright Jorn Hiemstra 2022</p>
        </footer>
    </body>



</html>