<!DOCTYPE HTML>
<html>
    <head>
        <title>Les 15 - Formulieren</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <body>
        <header>
            <h1>Home</h1>
            <nav>
                <ul class="menu">
                    <li class="menubutton"><a href="index.html">Home</a></li>
                    <li class="menubutton"><a href="mijnCV.html">Mijn CV</a></li>
                    <li class="menubutton"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="main">
        <section>

            <div id="contact">
                <h1>Contact</h1>
                    <form>
                        <p>Contactformulier</p>
                        <input type="text" placeholder="Uw voornaam">
                        <input type="text" placeholder="Uw achternaam">
                        <input type="text" placeholder="Uw email-adres">
                        <textarea placeholder="Uw boodschap"></textarea>
                        <button>Verzend</button>
                    </form>
        </div>



        </section>
        </div>
        <footer>
            <p> copyright Jorn Hiemstra 2022</p>
        </footer>
    </body>



</html>