<html>
<head>
    <title> Template</title>
    <link rel="stylesheet" type="text/css" href="static/style1.css"/>
    <meta name="viewport" content="width=screen-width, initial-scale=1.0"> 
</head>

<body>

    <header>
        <div class='col-12' id="banner">
            <h1>
                Ivainir Creative Design
            </h1>
            <div class="col-2" id="clock">
                {{clock}}
            </div>
        </div>
        <div class='col-12' id="menu">
            <nav>
                <ul>
                    <li>
                        <a class="menubutton" href="index.html">Home</a>
                    </li>
                    <li>
                         <a class="menubutton" href="gallery.html">Gallery</a> 
                     </li>
                     <li>
                         <a class="menubutton" href="contact.html">Contact</a>
                     </li>
                </ul>
            </nav>
        </div>
   

    </header>

    <main>
            <div class="Gal-row" id="One">
                <a href="gallery.html"><h1> Gallery</h1></a>

                <hr>

                <div class="card" id="C1">
                    <a href="project1.html">
                    <div class="container">
                        <img src="{{G1}}" alt="image 1">
                    </div>
                    <div class="subtext" id="T1">
                        <h3>Island 1</h3>
                        <p>This is island 1. It contains 4 biomes, and is about 2000x2000 blocks in size. This text exists mostly as filler, so that's about as far as this goes.</p>
                    </div>
                    </a>
                </div>
                <div class="card" id="C2">
                    <a href="project1.html">
                    <div class="container">
                        <img src="{{G2}}" alt="image 2">
                    </div>
                    <div class="subtext" id="T2">
                        <h3>Island 2</h3>
                        <p>This is island 2. It is approximately 1500x1500 blocks in size, and contains 3 biomes</p>
                    </div>
                </a>
                </div>
                <div class="card" id="C3">
                    <a href="project1.html"></a>
                    <div class="container">
                        <img src="{{G3}}" alt="image 3">
                    </div>
                    <div class="subtext" id="T3">
                        <h3>Island 3</h3>
                        <p>This is island 3</p>
                    </div>
                </a>
                </div>

                <div class="card" id="C4">
                    <a href="project1.html">
                    <div class="container">
                        <img src="{{G4}}" alt="image 4">
                    </div>
                    <div class="subtext" id="T4">
                        <h3>Island 4</h3>
                        <p>This is island 4</p>
                    </div>
                    </a>
                </div>

                <div class="card" id="C5">
                    <a href="project1.html">
                    <div class="container">
                        <img src="{{G5}}" alt="image 5">
                    </div>
                    <div class="subtext" id="T5">
                        <h3>Island 5</h3>
                        <p>This is island 5</p>
                    </div>
                    </a>
                </div>

            </div>
            
        <div class="row" id="Two">
           
        </div>

        <div class="row" id="Three">
            
            

        </div>

    </main>

    <footer>
        <div class="footer">
            <div class="column">
                <h3>Template Website</h3>
                <p>copyright Jorn Hiemstra 2022</p>
            </div>
        </div>

    </footer>

</body>



</html>