<html>
<head>
    <title> Template</title>
    <link rel="stylesheet" type="text/css" href="static/style1.css"/>
    <meta name="viewport" content="width=screen-width, initial-scale=1.0"> 
</head>

<body>

    <header>
        <div class='col-12' id="banner">
            <h1>
                Ivainir Creative Design
            </h1>
            <div class="col-2" id="clock">
                {{clock}}
            </div>
        </div>
        <div class='col-12' id="menu">
            <nav>
                <ul>
                    <li>
                        <a class="menubutton" href="index.html">Home</a>
                    </li>
                    <li>
                         <a class="menubutton" href="gallery.html">Gallery</a> 
                     </li>
                     <li>
                         <a class="menubutton" href="contact.html">Contact</a>
                     </li>
                </ul>
            </nav>
        </div>
   

    </header>

    <main>
            <div class="container" id="project1">
                <div class="Article">
                    <h1> Island 1</h1>
                    <div class="main_image">
                        <img src="/static/IMG/image1.png" alt="island"> 
                    </div>
                    <div class="subtext" id="island1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a augue a velit sagittis mollis. Nullam eu justo viverra, finibus nulla nec, ultricies turpis. Maecenas blandit convallis tortor vitae iaculis. Sed sed libero vel leo pellentesque suscipit a vitae risus. Sed tincidunt cursus leo, consectetur laoreet nisi luctus ut. Sed pretium urna velit, sit amet mattis est efficitur eget. Curabitur vitae neque scelerisque, dictum ligula ac, placerat magna. In facilisis, lectus vel dignissim venenatis, magna libero egestas augue, ac dignissim dui arcu nec ex. Vivamus placerat magna tempor dolor convallis lobortis. 
                        </p>
                    </div>
                    <div class="data">
                        <p>
                            <label for="Biomes">Biomes: </label>
                            <meter id="Biomes" value="0.8">4</meter>
                            </p><p>
                            <label for="Trees">Tree Types: </label>
                            <meter id="Trees" value="0.6">3</meter>
                        </p>
                    </div>
                </div>
                
            </div>
    </main>

    <footer>
        <div class="footer">
            <div class="column">
                <h3>Template Website</h3>
                <p>copyright Jorn Hiemstra 2022</p>
            </div>
        </div>

    </footer>

</body>



</html>