:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --dark: #222222;
    --light: #dddddd;
    --accent: #da6b21;
    overflow-x: hidden;
}

h1 {
    /*color: var(--accent);*/
    font-weight: bolder !important;
}
#hero-image {
    background-color: black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("File:///C:/Users/Ivain/Documents/GitHub/Portfolio/HTML/Personal/static/media/image2.png");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
#hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#menu