<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title> Jorn Hiemstra CV </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=Edge">
        <meta name="viewport" content="width=screen-width, initial-scale=1.0"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/style/profile1.css">
        <script src="scripts/profile_script.js"></script>
        <!-- "gotoPage(newPage,target-type)" is the current command-->
    </head>
    <body class="bg-light">
        <header>

        </header>
        <!-- Start Grid-->
        <div class="row container-xl mx-auto">
                <div class="container col-lg-5 pt-3 my-5 mx-auto text-bg-light" id="test">
                    
                    <div class="row">
                    <!--*<img src="media/IMG/profile_pic.png" class="col-sm-4 float-end thumbnail">-->
                        <div id="image-box">
                            <img class="profile_pic" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="placeholder">
                            <h1 class="bottom">
                                Jorn Hiemstra
                            </h1>
                        </div>
                    </div>
                    <div>
                        <ul class="profile-details">
                            <li>
                                Occupation
                            </li>
                            <li>
                                Location
                            </li>
                            <li>
                                Email@example.com
                            </li>
                            <li>
                                Phone number
                            </li>


                        </ul>
                        <hr>
                        <div class="Skills">
                            <h3>Development Skills</h3>
                            <div class="skill_cont">
                                <div class="skills html"><div class="skill_name">HTML</div> 98%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills css"><div class="skill_name">CSS</div> 90%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills js"><div class="skill_name">JavaScript</div> 80%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills ts"><div class="skill_name">TypeScript</div> 50%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills react"><div class="skill_name">React</div> 50%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills py"><div class="skill_name">Python</div> 70%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills fl"><div class="skill_name">Flask</div> 40%</div>
                            </div>
                            <div class="skill_cont">
                                <div class="skills sql"><div class="skill_name">SQL</div> 25%</div>
                            </div>
                        </div>
                    </div>
                    <div id="education">

                    </div>
                    <p>
                    </p>
                </div>
                <div class="container col-lg-6 pt-2 my-5 mx-auto text-bg-light">
                    <h2 class="mx-auto">Experience</h2>
                    <hr>
                    <h3>Professional</h3>

                    <h3>Freelance</h3>
                </div>
        </div>

        <footer class="container-fluid mx-auto text-center text-light" id="footer">
            <p id="social-links">
                <a id="twitter">twitter</a>
                <a id="facebook">facebook</a>
                <a id="instagram">instagram</a>
                <a id="discord">discord</a>
            </p>
        </footer>
    </body>
</html>
